* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
small {
  text-align: center;
  color: #575656;
}
body {
  background-color: rgb(238, 238, 238);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
  color: #575656;
  text-align: center;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 26px;
  border: none;
  background: white;
}
form button {
  color: white;
  background: #858484;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: white;
  color: #858484;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input {
  margin-left: 40px;
  border-radius: 5px 0px 0px 5px;
}
.todo-button {
  background-color: #60b3d4;
  color: white;
  border-radius: 0px 5px 5px 0px;
  margin-right: 12px;
}
.todo-list {
  min-width: 30%;
  list-style: none;
  border-radius: 5px;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 22px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ec5b5b;
  color: white;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  font-size: 22px;
}
.complete-btn {
  background: #858484;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.btn-group {
  margin-right: -12px;
}
.coded-by {
  text-align: center;
  color: #575656;
  font-size: 13px;
}
